body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #000;
  --secondary: #333;
  --green: #22c55e;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  padding: 1rem;
  width: 25rem;
  height: 30rem;
  border: 1px solid #CCC;
}
.header {
  width: 25rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.auth {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth button {
  margin-bottom: 1rem;
}
.auth form input{
  width: 20rem;
  margin-bottom: 1rem;
}
.startButton {
  width: 20rem;
  background-color: #22c55e;
  border-radius: 10px;
 padding: .2rem 0 .2rem 0;
  border: none;
  color: #FFF;
}
.login {
  height: 2rem; 
  width: 20rem;
  padding: .2rem;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  margin-bottom: 5rem;
}
.create {
  padding: 4rem;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.create div {
  margin-bottom: 3rem;
}
.create div img {
  width: 8rem;
}
.bigText {
  margin-bottom: 2rem;
  font-size: 28px;
}
.create form label {
color: var(--secondary);
margin-bottom: 1rem;
}
.create form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCC;
  margin-bottom: 1rem;
}
.nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 10px;
  padding: .5rem;
}