body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5rem;
  width: 25rem;
  height: 35rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #000;
  --secondary: #666666;
  --green: #22c55e;
  --violet: #5b21b6;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
.headerIcon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
.content {
  width: 100%;
  min-height: 28rem;
  overflow-y:auto;
  overflow-x:hidden;
}
.nav {
  height: 3rem;
  color: var(--secondary);
  flex-direction: row;
  justify-content: space-between;
}
.navIcon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  width: 5rem;
  font-weight: bold;
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 10px;
}
.navIcon img {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: .5rem
}
.auth {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth button {
  margin-bottom: 1rem;
}
.auth form input{
  width: 20rem;
  margin-bottom: 1rem;
}
.startButton {
  width: 20rem;
  background-color: #22c55e;
  border-radius: 10px;
 padding: .2rem 0 .2rem 0;
  border: none;
  color: #FFF;
}
.login {
  cursor: pointer;
  height: 2rem; 
  width: 20rem;
  padding: .2rem;
  border: 2px solid var(--secondary);
  display: flex;
  justify-content: center;
  background-color: #FFF;
}
.login img {
  justify-self: flex-end;
  align-items: flex-end;
}
.bold {
  font-weight: bold;
}
.bigText {
  font-size: 28px;
}
.secondary {
  color: var(--secondary);
}
.tokensInput {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.tokensInput input {
  width: 50%;
  margin: 0 1rem 0 0;
}
.section {
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.section div {
  margin-bottom: 2rem;
}
.section span {
  width: 100%;
  margin-bottom: 2rem;
}
.items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-start {
  align-items: center;
}
.section > img {
  max-width: 8rem;
}
.section form label {
color: var(--secondary);
margin-bottom: 1rem;
}
.section form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCC;
  margin-bottom: 1rem;
}
.section form{
  margin-bottom: 1rem;
}
.success {
  width: 6rem;
}
.small {
  font-size: 10px;
  color: var(--secondary);
}
.small a {
  font-size: 10px;
}
.italic {
  font-style: italic;
}
.support {
  height: 1.5rem;
  cursor: pointer;
  font-size: 12px;
  color: var(--secondary);
}
.support:hover {
  border-bottom: 1px solid var(--secondary);
}
.support img {
  margin-right: .3rem;
  width: 16px;
  height: 16px;
}