body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #000;
  --secondary: #666666;
  --green: #22c55e;
  --lightblue: #a2d9ff;
  --violet: #5b21b6;
  --light: #94a3b8;
  --lightbg: #f1f5f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* ul li {
  list-style-type: none;
}

div a {
  width: 100%;
  color: var(--secondary);
  text-decoration: none;
}

.container {
  height: 35rem;
  width: 25rem;
  overflow: hidden;
}

.header {
  padding: .5rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.headerIcon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  width: 24rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.nav {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  color: var(--secondary);
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #CCC;
  padding-top: .5rem;
  background-color: #FFF;
}

.navIcon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  width: 5rem;
  font-weight: bold;
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 10px;
}

.navIcon img {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: .5rem
}

.auth {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.githubLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  justify-content: flex-start;
}

.githubLine img {
  margin-left: .3rem;
  height: 1rem;
}

.tokensLine {
  margin-top: .5rem;
  font-size: 14px;
}

.tokensLine span {
  cursor: pointer;
}

.tokensLine span:hover {
  color: var(--lightblue);
}

.auth button {
  margin-bottom: 1rem;
}

.auth span {
  margin-bottom: 1rem;
}

.auth form input {
  width: 20rem;
  margin-bottom: 1rem;
}

.line {
  background-color: var(--light);
  height: 2px;
  display: block;
  width: 8rem;
  margin: 0 1rem 0 1rem;
}

.button {
  width: 20rem;
  border-radius: 10px;
  padding: .2rem 0 .2rem 0;
  border: 1px solid var(--primary);
}

.homeButton {
  width: 20rem;
  margin: .5rem 1rem .5rem 1rem;
  background-color: #FFF;
  border-radius: 10px;
  padding: .2rem 0 .2rem 0;
  border: 1px solid var(--primary);
}

.startButton {
  width: 20rem;
  background-color: #22c55e;
  border-radius: 10px;
  padding: .2rem 0 .2rem 0;
  border: none;
  color: #FFF;
}

.disabledButton {
  width: 20rem;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: .2rem 0 .2rem 0;
  border: none;
  color: #FFF;
}

.apiKey {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin: 1rem 0 2rem 0;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 1rem;
}

.apiKey input {
  border: 1px solid #CCC;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 1rem;
  width: 100%;
}

.apiKey span {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.apiKey span img {
  height: 1.3rem;
  margin: 0 .5rem .1rem .5rem;
}

.createButton {
  background-color: var(--primary);
  border-radius: 20px;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.login {
  cursor: pointer;
  height: 2rem;
  width: 20rem;
  padding: .2rem;
  border: 2px solid var(--secondary);
  display: flex;
  justify-content: center;
  background-color: #FFF;
}

.login img {
  margin-right: 2rem;
  justify-self: flex-end;
  align-items: flex-end;
}

.login:hover {
  background-color: var(--lightbg);
}

.bold {
  font-weight: bold;
}

.bigText {
  font-size: 28px;
}

.secondary {
  color: var(--secondary);
}

.light {
  color: var(--light);
}

.tokensInput {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.tokensInput input {
  width: 50%;
  margin: 0 1rem 0 0;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: min-content;
  width: 100%;
  align-items: center;
}

.section div {
  margin-bottom: 2rem;
}

.section span {
  width: 100%;
  margin-bottom: 2rem;
}

.items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-start {
  align-items: center;
}

.section>img {
  max-width: 8rem;
}

.section form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: min-content;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.section form label {
  text-align: center;
  color: var(--secondary);
  margin-bottom: 1rem;
}

.section form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCC;
  margin-bottom: 1rem;
}

.section form span {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.ethereum {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ethereum span {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.ethereum span input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCC;
  margin-bottom: 1rem;
}

.success {
  width: 6rem;
}

.small {
  font-size: 10px;
  color: var(--secondary);
}

.small a {
  font-size: 10px;
}

.italic {
  font-style: italic;
}

.loader {
  width: 6rem;
}

.support {
  height: 1.5rem;
  cursor: pointer;
  font-size: 12px;
  color: var(--secondary);
}

.support:hover {
  border-bottom: 1px solid var(--secondary);
}

.support img {
  margin-right: .3rem;
  width: 16px;
  height: 16px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profilePicture {
  height: 5rem;
  width: 5rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
  background-color: var(--lightbg);
}

.profilePictureSmall {
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--lightbg);
}

.settings {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.settingsCard {
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid var(--lightbg);
  height: 3rem;
  cursor: pointer;
  padding: .5rem;
  align-items: center;
}

.settingsCard:hover {
  background-color: var(--lightbg);
}

.settingsCard div span {
  font-weight: bold;
  font-size: 12px;
}

.settingsCard div p {
  font-size: 10px;
}

.settingsCard img {
  height: .5rem;
  width: .5rem;
}

.settings ul {
  margin: 1rem 0 0 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  min-height: 25rem;
}

.centeredWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home section {
  margin-bottom: 1.5rem;
}

.repo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 1rem;
  margin-bottom: 1rem;
}

.repo span {
  margin-right: .3rem;
}

.repo img {
  height: 1rem;
}

.repoOwner {
  font-size: 18px;
}

.repoOwner a {
  color: cornflowerblue;
}

.repoName {
  font-size: 18px;
  color: cornflowerblue;
}

.repoName a {
  font-weight: bold;
  color: cornflowerblue;
}

.repoTokens {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.repoTokens img {
  margin-right: .3rem;
  height: 1rem;
}

.votePower {
  font-size: 16px;
  font-weight: 400;
}

.data {
  color: var(--secondary);
  margin: 1rem 0 1rem 0;
  height: 10rem;
  width: 100%;
  display: block;
  justify-content: center;
  background-color: var(--lightbg);
}

.onboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.onboard h1 {
  font-size: 18px;
  font-weight: bold;
}

.transferContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.transferContent header {
  padding: 1rem;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.transfer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.transfer span label {
  margin-bottom: .2rem;
}

.transfer span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.transfer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.transfer div input {
  width: 100%;
}

.transfer span img {
  height: 1rem;
  margin-left: .3rem;
}

.errorText {
  font-size: 12px;
  font-style: italic;
  color: var(--secondary);
  min-height: 1rem;
}

.balance {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  min-height: 1rem;
}

.balance text {
  margin: 0 .3rem 0 .3rem;
  color: var(--primary);
}

.transferSummary {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.transferSummary ul {
  width: 100%;
}

.transferSummary ul li:nth-child(odd) {
  background-color: var(--lightbg)
}

.transferSummary li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5rem;
  overflow: hidden;
  text-overflow: clip;
}